body {
    font-family: 'ROBOTO', sans-serif;
}

.blu {
    color: orangered;
    font-weight: bold;
}

h2 {
    color: #333;
    font-size: 2.6rem;
    text-align: center;
    padding: auto;
    margin-left: 13rem;
    margin-right: 13rem;
}

h3 {
    font-size: 2.6rem;
    color: #333;
    text-align: center;
    padding: auto;
}

.column {
    column-count: 3;
    display: flex;
}


.ted {
    text-align: center;
    margin-left: 10rem;
    margin-right: 10rem;
}


ul {
    list-style-type: none;
    text-align: right;
    padding: 0.5rem;
    font-size: 1.1rem;
}

li {
    display: inline-block;
    margin-inline: 0.5rem;
}

li a {
    color: black;
    text-decoration: none;
}

li a:hover {
    text-decoration: underline solid orangered;
}

.num {
    border: 0.1rem solid orangered;
    border-radius: 2rem;
    margin: 2rem;
}

.num p {
    text-align: center;
    padding-left: 5rem;
    padding-right: 5rem;
}

.big {
    font-size: 2rem;
    font-weight: bold;
    color: #333;
}

h4 {
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
}

ol {
    list-style-type: disc;
}

.gep{
    display: list-item;
}

h5 {
    text-align: center;
    font-size: 2.6rem;
    font-weight: bold;
    color: #333;
    }

h6 {
    text-align: center;
    color: #333;
    font-size: 2.6rem;
}

.abc {
    text-align: center;
    padding-left: 4rem;
    padding-right: 4rem;
}

p span {
    color: white;
    background-color: orangered;
    font-weight: bold;
}



.mon {
    border: 0.1rem solid blue;
    border-radius: 2rem;
    display: flexbox;
    margin-right: 50rem;

}

.nom {
    border: 0.1rem solid orangered;
    border-radius: 2rem;
    margin-right: 50rem;
    margin-top: 2rem;
}

.omn {
    color: blue;
    text-align: center;
}

.line {
    background-color: orangered;
    color: white;
    text-align: center;
}
h7 {
    font-size: 2rem;
}

.last {
    background-color: #333;
    margin-left: 0;
}

.migo {
    display: list-item;
}